#sides{
	background-color: #004289;
}
#main{
	background-color: #004289;
}
.round3 {
  border: 2px solid #E4A024;
  border-radius: 12px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
}
body{
	background-color: #004289;
}
.button{
	float: right;
    margin-right:10px;
	background-color: #004289;
	border: none;
	color: #E4A024;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-decoration:none;
}
.button:active, .button:hover{
	color: #E4A024;
}
p{
	color: white;
}