#sides{
	background-color: #004289;
}
#main{
	background-color: #004289;
}
.round3 {
  border: 2px solid #E4A024;
  border-radius: 12px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body{
	background-color: #004289;
}
div button{
	float: right;
    margin-right:10px;
}